[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-ckeditor = "==5.6.0"
django-qr-code = "==1.0.0"
python-dotenv = "==0.9.1"
requests = ">=2.20.0"
urllib3 = ">=1.24.2"
Pillow = "==9.0.0"
Django = ">=2.0.10"
gunicorn = "==19.9.0"
django-heroku = "*"
whitenoise = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
